/*bebidas inicio*/
.beb-inicio {
    text-align: center;
    h3 {
        padding: 16px;
        color: #ffffff;
    }
    .cartel-prittycero {
        padding-top: 16px;
        #cartelpromo {
            height: 20%;
            width: 100%;
        }
        h3 {
            color: #ffffff;
        }
        p {
            color: #000000;
            text-shadow: 0 0 15px #ffffff, 0 0 15px #ffffff, 0 0 15px #ffffff;
        }
        div {
            #img-dest {
                height: 180px;
                width: 150px;
            }
            #img-dest:hover {
                height: 190px;
                width: 160px;
            }
            h5 {
                font-size: 15px; 
                color: #ffffff;
                font-family: 'Quattrocento', serif;
            }
        }
    }    
    .prod-destac {
        h3 {
            font-family: 'Quattrocento', serif;
        }     
        .contenedor-prod {
            display: flex;
            flex-wrap: wrap;
            text-align: center;
            justify-content: center;
            padding: 16px;  
            
            div {
                padding: 12px;
                #img-dest {
                    height: 140px;
                    width: 120px;
                }
                #img-dest:hover {
                    height: 150px;
                    width: 130px;
                }
                h5 {
                    font-size: 12px; 
                    color: #ffffff;
                    font-family: 'Quattrocento', serif;
                }
            }
        }
        a {
            color: #e76666;
            padding: 16px;
            text-decoration: none;
            font-family: 'Quattrocento', serif;
        }    
        a:hover {
            color: #f71b1b;
        }
    }   
    .cartel-tragos {
        h3 {
            font-family: 'Quattrocento', serif;
        }
        padding: 16px 0;
        #carteltragos {
            height: 20%;
            width: 100%;
        }
    }

}    