/*bebidas*/
    .cont-bebidas {
        text-align: center;
            h4 {
                color: #fff;
            }
            .cont2-bebidas {
                display: flex;
                flex-wrap: wrap;
                text-align: center;
                justify-content: center;
                padding: $padding-1; 

                div {  
                    padding: 12px;
                    @mixin size ($alto, $ancho) {
                        height: $alto;
                        width: $ancho;
                    }
                    #productos{
                        @include size (140px, 120px)
                    }
                    #productos:hover {
                        @include size (150px, 130px)
                    }

                    h5 {
                        font-size: $tam-letra; 
                        color: #ffffff;
                        font-family: $est-letra;
                        padding: 4px;
                    } 
                    
                }
            }
        
    }
