body {
    background-image: url("../img/fondo10.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    position: relative;
    padding-bottom: 350px;
    min-height: 100vh;
}