/*contacto*/
.contenedor {
    text-align: center;
        .tit {
            padding: $padding-1;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
            h1 {
                color: #fff;
                font-size: 22px;
            }
            h2 {
                color: #000000;
                text-shadow: $sombra-letra1;
                font-size: 22px;
            }   
        }
        .form {
            
            background-color: #111;
            opacity: 0.9;
            width: 320px;
            height: 380px;
            display: inline-block;
            text-align: end;
            padding: $padding-1;
            div {
                padding: 6px;
                label {
                    color: #fff;
                }
                input {
                    width: 180px;
                }
                 
            }
            .comentario {
                display: inline-block;
                padding: $padding-1;     
            }
            .cont-boton {
                text-align: center;
                .boton {
                    width: 80px;
                    color: #fff;
                    padding: 4px;
                }
                input {
                    @extend .boton;
                    background-color: #000000;
                }
                input:hover {
                    background-color: #830202;
                }
            }
            
            
       

        }
}
