/*footer*/
footer {
    background-color: $color1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;

    
    .tit-redes {
            font-family: $est-letra;
        
        h1 {
            font-size: 35px;
            color: #000000;
            border-top: 2px solid #000000;
            border-bottom: 2px solid #000000;
            margin-top: 20px;    
        }
        h3 {
            font-size: 16px;
            padding: $padding-1;
            color: #000000;
        }
    }
    
    .cont-icono {
        .icono {
            height: 30px;
            width: 30px;
            color: #ffffff;
        }
    }
    
    .info{
        color: #000000;
        padding: 12px;
        h4 {
            font-size: 16px;
        }
    }
    
}