/*inicio*/
.inicio {
    .sub-inicio {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .sub2-inicio {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            
            h2 {
                font-size: 20px;
                font-family: 'Quattrocento', serif;
                color: #ffffff;
            }
            h3 {
                color: #ffffff;
                background-color: #000000;
                font-size: 20px;
                border: solid 2px #000000;
                text-align: center; 
            }
            p {
                color: #ffffff;
            }   
            a {
                color: #e76666;
                font-family: 'Quattrocento', serif;
                text-decoration: none;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                
            }
            a:hover {
                color: #f71b1b;
            }
        }
        
       
    }
} 
/*bebidas*/
.bebidas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}