/*navegador*/
.contenedor-nav {
    h1 {
        color: #ffffff;
        font-family: 'Kaushan Script', cursive;
        text-shadow: 0 0px 15px #918e8e, 0 0px 15px #918e8e;
        font-size: 30px;
        text-align: center;
    }
    .menu {
        div{
            font-family: $est-letra;
            list-style: none;
            li {
                .sub-tit {
                    color: #dbd8d6;
                    font-size: 18px;
                }
                .sub-tit:hover {
                    color: #fdad00;
                    font-size: 20px;
                }
                .sub-pag {
                    background: #000000;
                    opacity: 0.7;
                    a {
                        color: #ffffff;
                        
                    }
                    a:hover {
                        color: #000000;
                    }
                }
            }
            .nav-inicio {
                color: #dbd8d6;
            }
            .boton {
                background-color: #dbd6d6;
                padding: 2px;
            }
            div {
                ul {
                    li {
                        #nav-1 {
                            color: #dbd8d6;
                            }
                        #nav-1:hover {
                            color: #fdad00;
                            font-size: 20px;
                            }
                    }
                }
                form {
                    button {
                        color: #ffffff;
                        border-color: #ffffff;
                    }
                    button:hover {
                        background-color: #790101;
                    }
                }
            }
            
        }
    }
       
}
