.nosotros {
    .cont-nos {
        .inicio {
            background-image: url(../img/localnos.png);
            background-size: cover;
            background-repeat: no-repeat;
            height: 50vh;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h1 {
                font-family: "Quattrocento", serif;
                color: #fff;
                text-shadow: 0 0 15px #000000, 0 0 15px #000000, 0 0 15px #000000;
            }
            h3 {
                font-family: "Quattrocento", serif;
                color: #fff;
                text-shadow: 0 0 15px #000000, 0 0 15px #000000, 0 0 15px #000000;
            }
        }
        .presentacion {
            padding: 16px;
            background-color: #c9c9c9;
            h2 {
                color: #000000;
                font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
                padding: 16px;
                font-size: 25px;
                text-align: center;
            }
            p { 
                color: #000000;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                font-size: 20px;
                text-align: left;
            }
        }
        .carrusel {
            background-color: #000000;
            padding: 24px;
            height: 100%;
            
            img {
                width: 70%;
                height: 400px;
            }
        }
        .video {
            background-color: #c9c9c9;
            padding: 24px;
            text-align: center;
            h2 {
                color: #000000;
                font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
                padding: 16px;
            }
            iframe {
                width: 100%;
                height: 50%;
                min-height: 400px;
                max-width: 800px;
                border: 5px solid #6e0000;
            }
        }
    }
}