$tam-letra: 12px; 
$est-letra: 'Quattrocento', serif;
$sombra-letra1: 0 0 15px #fff, 0 0 15px #fff, 0 0 15px #fff;
$sombra-letra2: 0 0 5px #000000, 0 0 5px #000000;
$padding-1: 16px;
$color1: #701212;
